#content{
    bottom:0px; 
    left:0px; 
    width:100%; 
    height:100%px; 
    /* 为body对象和textarea的默认值。在需要时剪切内容并添加滚动条  */
    overflow:scroll; 
    z-index:1; 
}
/* 搜索框  */
.content-search{
    height:130px;
    width: 100%;
}

.content-search-left{
    height: 100%;
    width: 25%;
    float: left;
    text-align: right;
}

.content-search-left img{
    height: 75%;
    width: 55%;
    margin-top:15px;

}

.content-search-center{
    float: left;
    height: 100%;
    width: 50%;
    overflow: hidden;
    text-align:center;
    
}
.content-search-center-inp .txt{
    height: 30px;
    width:380px;
    margin-top: 35px;
    border: 1px solid red;
}
.content-search-center-inp .sub{
    height: 31px;
    width: 65px;
    margin-top: 36px;
    color: white;
    border:1px solid red;
    background-color: red;
}
.content-search-center-lab{
    height: 40px;
    width: 450px;
    margin-left: 95px;

}
.content-search-center-lab ul, .content-search-center-lab ul li{
    list-style: none;
    float: left;
    font-size: 11px;
    color: lightgrey;
    padding: 5px;
}
.content-search-right{
    float: left;
    height: 100%;
    width: 24%;
}
.content-search-right-spc{
    height: 40px;
    width: 200px;
    margin:25px 0px 0px 50px;
    border: 1px solid rgb(241, 239, 239);
    border-radius:5px;
    clear: both;
}
.content-search-right-spc img{
    height: 100%;
    width: 30px;
    margin-left: 25px;
    vertical-align: middle;
}
/*正文导航栏  */
.content-nav{
    height: 40px;
    width: 100%;
    background-color: black;
    color: white;
}
.content-nav .content-nav-ul{
    margin-left: 190px;
}
.content-nav ul,.content-nav ul li,.content-nav ul li{
    list-style: none;
    margin: 0px 17px;
    padding: 4px 0px;
    float: left;
}
.content-nav ul li:hover{
    color: gainsboro;
    border-bottom: 2px solid cyan;
}


