#content{
    bottom:0px; 
    left:0px; 
    width:100%; 
    height:90%; 
    /* 为body对象和textarea的默认值。在需要时剪切内容并添加滚动条  */
    overflow:scroll; 
    z-index:1; 
}
/* 搜索框  */
.content-search{
    height:130px;
    width: 100%;
}

.content-search-left{
    height: 100%;
    width: 25%;
    float: left;
    text-align: right;
}

.content-search-left img{
    height: 75%;
    width: 55%;
    margin-top:15px;

}

.content-search-center{
    float: left;
    height: 100%;
    width: 50%;
    overflow: hidden;
    text-align:center;
    
}
.content-search-center-inp .txt{
    height: 30px;
    width:380px;
    margin-top: 35px;
    border: 1px solid red;
}
.content-search-center-inp .sub{
    height: 31px;
    width: 65px;
    margin-top: 36px;
    color: white;
    border:1px solid red;
    background-color: red;
}
.content-search-center-lab{
    height: 40px;
    width: 450px;
    margin-left: 95px;

}
.content-search-center-lab ul, .content-search-center-lab ul li{
    list-style: none;
    float: left;
    font-size: 11px;
    color: lightgrey;
    padding: 5px;
}
.content-search-right{
    float: left;
    height: 100%;
    width: 24%;
}
.content-search-right-spc{
    height: 40px;
    width: 180px;
    margin:32px 0px 0px 50px;
    border: 1px solid rgb(241, 239, 239);
    border-radius:5px;
    clear: both;
}
.content-search-right-spc img{
    height: 100%;
    width: 30px;
    margin-left: 25px;
    vertical-align: middle;
}
/*正文导航栏  */
.content-nav{
    height: 40px;
    width: 100%;
    background-color: black;
    color: white;
}
.content-nav .content-nav-ul{
    margin-left: 190px;
}
.content-nav ul,.content-nav ul li,.content-nav ul li{
    list-style: none;
    margin: 0px 18px;
    padding: 4px 0px;
    float: left;
}
.content-nav ul li:hover{
    color: gainsboro;
    border-bottom: 2px solid cyan;
}
/* 每日必看 */
.new-tittle{
    height: 40px;
    text-align: center;
    font-size: 17pt;
    font-weight: bolder;
}
.new-tittle .new-tittle-sp{
    display: block;
    margin-top: 10px;
}
/* 每日单品 */
.new{
    height:2320px;
    width: 100%;
}
.sig-new{
    height: 100%;
    width: 88%;
    margin-left: 6%;
    border:1px solid cyan;
}
.sig-new-detail{
    height: 25px;
    border-bottom:1px solid black;
    font-size: 12px;
}
.sig-new-detail-chi{
    height: 100%;
    width: 170px;
    float: left;
    background-color: black;
    color: white;
}
.sig-new-detail-chi img{
    height: 25px;
    width: 30px;
    margin-left: 5px;

}
.sig-new-detail-chi span{
    position: relative;
    bottom: 8px;
}
.sig-new-detail-eng{
    padding-top: 5px;
    margin-left:3px;
}
/* 单品 */
.single{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid red;
}
.single .single-grid{
    height: 30rem;
    width: 22rem;
    margin-top:20px;
    box-shadow: 1px 1px 7px rgb(221, 220, 220);
    border: 1px solid rgb(216, 216, 215);
}
.single-grid-ad{
    height:50px;
    width: 100%;
    border: 1px solid pink;
}
.single-grid-ad-left{
    height: 100%;
    width: 121px;
    float: left;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.single-grid-ad-left-item1{
    height: 100%;
    display:inline-block;
    width: 60px;
    color: white;
    background-color: purple;
}
.single-grid-ad-left-item2{
    height: 100%;
    width: 60px;
    color: white;
    background-color: rgb(68, 116, 248);
    display:inline-block;
}
.single-grid-ad-right-spc{
    height: 20px;
    width:90px;
    padding:5px;
    margin:9px 0px 0px 120px;
    text-align: center;
    color: white;
    background-color: red;
    display: inline-block;
}
.single-grid-img{
    height: 280px;
    overflow: hidden;
}
.single-grid-img img{
    height: 20rem;
    width: 35rem;
    margin-left: -100px;
    margin-top: -20px;
}
.single-grid-detail-purple{
    height: 30px;
    width: 94%;
    margin-left:3%;
    text-align: center;
    color: white;
    background-color: rgb(185, 153, 185);
}
.single-grid-detail-gray{
    height: 30px;
    width: 90%;
    margin-left:5%;
    text-align: center;
    color: white;
    background-color: rgb(196, 193, 195);
}
.single-grid-place{
    padding-top: 10px;
    height:50px;
    width: 96%;
    margin-left: 2%;
}
.single-grid-price{
    height: 50px;
    width: 100%;
    font-size:17pt;
    text-align: initial;
    color: red;
}



