   #footer{
   position: absolute;
    z-index:2;
    height: 40px;
    width: 100%;
    bottom: 0;
   }
   #footer-top ul{
    padding-left: 500px;
    list-style: none;
   }
   #footer-top ul li{
    float: left;
    padding: 0px 0px 10px 10px;
   }
   #footer-top ul li a{
    text-decoration: none;
    font-size: 11px;
    color: black;
   }
   #footer-bottom{
    position: absolute;
    margin-top:23px;
    margin-left: 400px;
    font-size: 11px;
   }