   #footer{
    height: 80px;
    width: 100%;
   }
   #footer-top ul{
    padding-left: 450px;
    list-style: none;
   }
   #footer-top ul li{
    float: left;
    padding: 0px 0px 20px 20px;
   }
   #footer-top ul li a{
    text-decoration: none;
    font-size: 12px;
    color: black;
   }
   #footer-bottom{
    position: absolute;
    margin-top:30px;
    margin-left: 400px;
    font-size: 11px;
   }